html, body {
  height: 100%;
  margin: 0;
  justify-content: center;
  align-items: center;
}

#video-container {
  width: 100%;
}
#video-container video {
  width: 100%;
}

.hidden {
    display: none;
}
